{
  "parserOptions": {
    "sourceType": "module"
  },
  "env": {
    "es6": true,
    "node": true,
    "mocha": true
  },
  "extends": ["eslint:recommended"],
  "rules": {
    "array-bracket-spacing": 0,
    "arrow-parens": [2, "as-needed"],
    "comma-dangle": [2, "never"],
    "comma-spacing": [2, {"after": true}],
    "curly": [2, "multi-line"],
    "eqeqeq": 2,
    "func-names": 0,
    "indent": [2, 2],
    "max-len": 0,
    "no-console": [ 1, {"allow": ["info", "error", "warn"]}],
    "no-new-wrappers": 0,
    "no-proto": 0,
    "no-prototype-builtins": 0,
    "no-restricted-syntax": 1,
    "no-sparse-arrays": 0,
    "no-unreachable": 2,
    "no-unused-expressions": 2,
    "no-unused-vars": [2, {"args": "none"}],
    "semi": 2,
    "quotes": [
      2,
      "single",
      {
        "avoidEscape": true,
        "allowTemplateLiterals": true
      }
    ],
    "require-yield": 1
  }
}
