{ 
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module"
  },
  "env": {
    "es6": true,
    "node": true,
    "mocha": true
  },
  "extends": ["eslint:recommended"],
  "rules": {
    "max-len": 0,
    "no-unused-vars": [2, {"args": "none"}],
    "require-yield": 1,
    "no-new-wrappers": 0,
    "no-prototype-builtins": 0,
    "no-proto": 0,
    "arrow-parens": [2, "as-needed"],
    "no-sparse-arrays": 0,
    "comma-spacing": [2, {"after": true}],
    "array-bracket-spacing": 0,
    "func-names": [2, "never"],
    "no-restricted-syntax": 1,
    "no-unreachable": 1,
    "no-plusplus": [
      1,
      {"allowForLoopAfterthoughts": true}
    ],
    "no-console": [
      1,
      {
        "allow": ["info", "error", "warn"]
      }
    ],
    "quotes": [
      2,
      "single",
      {
        "avoidEscape": true,
        "allowTemplateLiterals": true
      }
    ]
  }
}