{
  "env": {
    "es6": true,
    "node": true,
    "mocha": true
  },
  "extends": ["airbnb-base"],
  "rules": {
    "max-len": 0,
    "no-unused-vars": 1,
    "require-yield": 1,
    "no-new-wrappers": 1,
    "no-prototype-builtins": 1,
    "no-proto": 1,
    "arrow-parens": [2, "as-needed"],
    "no-plusplus": [
      2,
      {"allowForLoopAfterthoughts": true}
    ],
    "no-console": [
      1,
      {
        "allow": ["info", "error", "warn"]
      }
    ],
    "quotes": [
      2,
      "single",
      {
        "avoidEscape": true,
        "allowTemplateLiterals": true
      }
    ]
  },
  "plugins": ["mocha"]
}